.navDefault {
    position: fixed;
    top: 0;   
    left: 0;
    right: 0;
    background-color: #4a4a4f;
}

button {
    border: none;
    background-color: #0997d3;    
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}    

.dropdownMenu {                                                    
    list-style: none;                                                        /* remove formatting of list, such as bullet points */
    margin: 0;
    position: absolute;
    padding: 0;                                                             /* remove default padding for dropdown menu */
    left: 0;
    right: 0;
    top: 50px;
    z-index: -1;                                                            /* z-index responsible for "3rd dimension", in order to remove link that was on top of DROPDOWN */
    width: 150px;
    text-align: center;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);                        /* create dropdown, with shadow: https://cssmatic.com/box-shadow */
    transform: translateY(-100%);                                          /* negative number so that list items will be off-screen by default */
    transition: transform .5s ease-in-out;
}

.dropdownLink {
    text-decoration: none;                                                  /* to remove underline of links */
    display: block;
    background-color: #f9f9f9;
    color: #4a4a4f;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #fff;
    background-color: #a0a0a3;
}    

.dropdown {
    width: 150px;
    position: relative;                                                            /* position will be relative of the fixed position of the button itself */
}

.dropdown:hover button {
    background-color: #018ec5;
}

.dropdown:hover .dropdownMenu {
    transform: translateY(0);                                                    /* so that if we hover a dropdownMenu appears */
}